.contact-page {
    display: flex;
    flex-direction: column;
    form {
        align-self: center;
        input {
            margin: 0;
        }
    }
    .add-contact-btn {
        width: fit-content;
        align-self: center;
        a {
            text-decoration: none;
            span {
                margin-left: 0.25rem;
            }
        }
    }
}