.contact-page {
    display: flex;
    flex-direction: column;
    form {
        align-self: center;
        input {
            margin: 0;
        }
    }
    a {
        text-decoration: none;
    }
    .add-contact-btn {
        // width: fit-content;
        align-self: center;
        .icon {
            margin-left: 0.25rem;
        }
    }
}

@include for-narrow-layout {
    .contact-page {
        .add-contact-btn {
            position: fixed;
            bottom: 5vh;
            right: 0;
            .text {
                display: none;
            }
            .icon {
                margin: 0;
            }
        }
    }
}