.home-page {
    .user-logged-in {
        display: flex;
        flex-direction: row;
        height: 100vh;
        width: 100%;
        justify-content: space-evenly;
        .user-section {
            .user-img-main-wrapper {
                flex-direction: column;
                align-items: center;
                .home-user-img {
                    background-color: $clr6;
                    border-radius: 50%;
                }
            }
            .info-section {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
    .sign-in-sec {
        form {
            display: flex;
            flex-direction: column;
            width: fit-content;
            margin: 0 auto;
            input {
                margin-bottom: 0.5rem;
            }
            button {
                width: fit-content;
                margin: 0 auto;
            }
        }
        .sign-up {
            a {
                color: $clr5;
                &:hover {
                    color: darken($color: $clr5, $amount: 10);
                }
            }
        }
        .bitcoin-gif {
            width: 5rem;
        }
    }
}