.home-page {
    .user-logged-in {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        .user-section {
            width: 50%;
            .user-img-main-wrapper {
                margin-top: 0;
                flex-direction: column;
                align-items: center;
                .home-user-img {
                    background-color: $clr6;
                    border-radius: 50%;
                    margin-bottom: 0.5rem;
                }
                h1 {
                    margin-bottom: 0.5rem;
                }
            }
            .info-section {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
        .move-list-section {
            width: 45%;
        }
    }
    .sign-in-sec {
        display: flex;
        flex-direction: column;
        align-items: center;
        form {
            display: flex;
            flex-direction: column;
            width: fit-content;
            align-items: center;
            input {
                margin-bottom: 0.5rem;
            }
            button {
                width: fit-content;
                margin: 0.5rem 0;
            }
        }
        .text {
            margin: 0.5rem 0;
        }
        .sign-up {
            a {
                color: $clr5;
                &:hover {
                    color: darken($color: $clr5, $amount: 10);
                }
            }
        }
        .bitcoin-gif {
            width: 5vw;
        }
    }
}

@include for-narrow-layout {
    .home-page {
        .user-logged-in {
            .user-section {
                .user-img-main-wrapper {
                    .home-user-img {
                        width: 70%;
                        background-color: $clr6;
                        border-radius: 50%;
                    }
                }
            }
            .move-list-section {
                width: 45%;
            }
        }
        .sign-in-sec {
            .bitcoin-gif {
                width: 10vw;
            }
        }
    }
}

@include for-mobile-layout {
    .home-page {
        .user-logged-in {
            display: flex;
            flex-direction: column;
            .user-section {
                width: 100%;
                .user-img-main-wrapper {
                    .home-user-img {
                        width: 70%;
                        background-color: $clr6;
                        border-radius: 50%;
                    }
                }
            }
            .move-list-section {
                width: 100%;
            }
        }
        .sign-in-sec {
            .bitcoin-gif {
                width: 15vw;
            }
        }
    }
}