.content-container {
    margin: 0 auto;
    width: calc(100% - 30px);
    flex: 1;
    @include for-mobile-layout {
        max-width: $break-mobile;
    }
    @include for-narrow-layout {
        max-width: $break-narrow;
    }
    @include for-wide-layout {
        max-width: $break-wide;
    }
}

// .main-layout {
//     min-height: 100vh;
//     display: flex;
//     flex-direction: column;
// }