/* Media queries Breakpoint mixins */

@mixin for-mobile-layout {
    @media (max-width: $break-mobile) {
        @content;
    }
}

@mixin for-smaller-narrow-layout {
    @media (max-width: $break-smaller-narrow) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (max-width: $break-narrow) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (max-width: $break-wide) {
        @content;
    }
}


/* Media  Mixins */

//aspect ratio mixin
@mixin aspect-ratio($width, $height) {
    position: relative;
    overflow: hidden;
    &:before {
        content: "";
        display: block;
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
    >* {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    >img {
        height: 100%;
        object-fit: cover;
    }
}

// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
}


/* Helper Mixins */

@mixin clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@mixin clear-button {
    background-color: transparent;
    border: none;
    font-size: inherit;
    color: inherit;
    margin: 0px;
    padding: 0px;
    outline: none;
}