// COLOR PALETTE
$clr1:#1b78f2; //header v
$clr2:#ffffff; ///bcg cards v
$clr3: #e4e6eb; ///button
$clr4:#f0f2f5; ///page bcg
$clr5:rgb(255, 183, 27); //sign up
$clr6:#0d0d0e21; // bcg for imags and borders
$clr7:#6f7175; //text
$clr8:#1d1f23; //text in btn
// LAYOUT BREAKPOINTS
$break-mobile: 538px;
$break-smaller-narrow: 630px;
$break-narrow: 800px;
$break-wide: 1600px;