.chart-cmp {
    background-color: #fff;
    margin-bottom: 1rem;
    width: 100%;
    padding: 20px;
    h3 {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }
    .recharts-responsive-container {
        position: relative;
        .recharts-wrapper {
            display: flex;
            flex-direction: column;
        }
        .recharts-legend-wrapper {
            position: unset !important;
            .recharts-default-legend {
                .recharts-legend-item {
                    font-family: Roboto-Regular, sans-serif;
                    font-size: 1rem;
                }
            }
        }
        .recharts-text.recharts-cartesian-axis-tick-value {
            font-size: 0.8rem !important;
        }
    }
}

@include for-mobile-layout {
    .chart-cmp {
        .recharts-wrapper {
            align-items: center;
            .recharts-tooltip-wrapper {
                top: 0px;
                left: unset !important;
                transform: unset !important;
                .recharts-default-tooltip {
                    font-size: 0.5rem;
                    padding: 0.2rem !important;
                }
            }
        }
    }
}