.contact-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $clr2;
    color: $clr7;
    border-radius: 0.25rem;
    padding: 1rem;
    .contact-img {
        margin: 0.5rem;
        width: 15vw;
        background-color: $clr6;
        border-radius: 50%;
    }
    .contact-name {
        padding-right: 0.5rem;
    }
    &:hover {
        background-color: darken($color: $clr3, $amount: 50);
        color: $clr2;
    }
}